In [1]:
import numpy as np
import pandas as pd

In [2]:
player_data = pd.read_csv('player_data.csv')

In [3]:
player_data.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [4]:
player_data = player_data[['name', 'college']]

In [5]:
# player_data

In [6]:
player_data_colleges = player_data.dropna(subset = ['college'])

In [7]:
player_data_colleges.isnull().sum()

name       0
college    0
dtype: int64

In [8]:
player_data_colleges.shape

(4248, 2)

In [9]:
player_data_no_colleges = player_data[~player_data.index.isin(player_data_colleges.index)]

In [10]:
player_data_no_colleges.head()

                         name college
9                Alex Abrines     NaN
32              Alexis Ajinca     NaN
38             Furkan Aldemir     NaN
74             David Andersen     NaN
100  Martynas Andriuskevicius     NaN

In [11]:
player_data_no_colleges.shape

(302, 2)

In [12]:
season_stats_data = pd.read_csv('Seasons_Stats.csv')

In [13]:
season_stats_data.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [14]:
# season_stats_data.isnull().sum()

In [15]:
season_stats_data = season_stats_data[['Player', 'Tm']]

In [16]:
# player_data_set = set(player_data_no_colleges['name'])

In [17]:
# 'Al Harrington' in player_data_set

In [18]:
list = player_data_no_colleges['name'].values.tolist()

In [19]:
season_stats_data = season_stats_data[~season_stats_data['Player'].isin(list)]

In [26]:
# season_stats_data

In [21]:
season_stats_data.shape

(22997, 2)

In [22]:
# for row in season_stats_data.itertuples():
#     if row[3] in player_data_no_colleges['name']:
#         print row[3]

In [23]:
player_data_colleges = player_data_colleges.sort_values(by = 'name', ascending=True)
# player_data_colleges

In [24]:
season_stats_data = season_stats_data.sort_values(by = 'Player', ascending = True)

In [36]:
season_stats_data = season_stats_data.dropna(subset = ['Player'])

In [55]:
college_teams = []

In [56]:
for row in player_data_colleges.itertuples():
    for stat in season_stats_data.itertuples():
        if(row[1] == stat[1]):
            college_teams.append(tuple([row[2], stat[2]]))

In [58]:
type(college_teams)

list

In [59]:
college_teams_np = np.array(college_teams)

In [61]:
df = pd.DataFrame(college_teams_np)
df.to_csv("pravila_pridruzivanja.csv")

In [62]:
# df.isnull().sum()

0    0
1    0
dtype: int64